Insertion - Code/benchmark/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Insertion - Code/benchmark/obj/Debug/net6.0/benchmark.AssemblyInfo.cs
Insertion - Code/benchmark/obj/Debug/net6.0/benchmark.AssemblyInfoInputs.cache
Insertion - Code/benchmark/obj/Debug/net6.0/benchmark.csproj.AssemblyReference.cache
Insertion - Code/benchmark/obj/Debug/net6.0/benchmark.GeneratedMSBuildEditorConfig.editorconfig
Insertion - Code/benchmark/obj/Debug/net6.0/benchmark.GlobalUsings.g.cs
Insertion - Code/insertion/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Insertion - Code/insertion/obj/Debug/net6.0/insertion.AssemblyInfo.cs
Insertion - Code/insertion/obj/Debug/net6.0/insertion.AssemblyInfoInputs.cache
Insertion - Code/insertion/obj/Debug/net6.0/insertion.csproj.AssemblyReference.cache
Insertion - Code/insertion/obj/Debug/net6.0/insertion.GeneratedMSBuildEditorConfig.editorconfig
Insertion - Code/insertion/obj/Debug/net6.0/insertion.GlobalUsings.g.cs
